header {
  display: flex;
  gap: 10px;
}

header > img {
  width: auto;
  height: 300px;
  flex-shrink: 0;
}

main > div:first-of-type {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}

div.animal-div > img {
  width: 200px;
  height: auto;
}
